[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==0.10.0"
argon2-cffi = "==20.1.0"
asgiref = "==3.2.7"
astor = "==0.8.1"
astroid = "==2.4.1"
astunparse = "==1.6.3"
attrs = "==20.2.0"
backcall = "==0.2.0"
bleach = "==3.2.1"
cachetools = "==4.1.1"
certifi = "==2020.6.20"
cffi = "==1.14.3"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.3"
decorator = "==4.4.2"
defusedxml = "==0.6.0"
entrypoints = "==0.3"
fake-factory = "==0.7.2"
gast = "==0.2.2"
geographiclib = "==1.50"
geopy = "==2.0.0"
google-auth = "==1.21.1"
google-auth-oauthlib = "==0.4.1"
google-pasta = "==0.2.0"
grpcio = "==1.31.0"
gunicorn = "==20.0.4"
h5py = "==2.10.0"
idna = "==2.9"
imageio = "==2.9.0"
importlib-metadata = "==1.7.0"
ipykernel = "==5.3.4"
ipython = "==7.18.1"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
jedi = "==0.17.2"
kiwisolver = "==1.2.0"
lazy-object-proxy = "==1.4.3"
matplotlib = "==3.3.2"
mccabe = "==0.6.1"
mistune = "==0.8.4"
nbclient = "==0.5.0"
nbconvert = "==6.0.7"
nbformat = "==5.0.7"
nest-asyncio = "==1.4.1"
notebook = "==6.1.4"
numpy = "==1.18.5"
oauthlib = "==3.1.0"
opencv-python = "==4.4.0.42"
opt-einsum = "==3.3.0"
pandas = "==1.1.2"
pandocfilters = "==1.4.2"
parso = "==0.7.1"
pickleshare = "==0.7.5"
prometheus-client = "==0.8.0"
prompt-toolkit = "==3.0.7"
protobuf = "==3.13.0"
psycopg2 = "==2.8.5"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pylint = "==2.5.2"
pyparsing = "==2.4.7"
pyrsistent = "==0.17.3"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
pywin32 = "==228"
pywinpty = "==0.5.7"
pyzmq = "==19.0.2"
requests = "==2.23.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.6"
scipy = "==1.4.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
tensorboard = "==1.15.0"
tensorboard-plugin-wit = "==1.7.0"
tensorflow = "==1.15.0"
tensorflow-estimator = "==1.15.1"
termcolor = "==1.1.0"
terminado = "==0.9.1"
testpath = "==0.4.4"
toml = "==0.10.1"
tornado = "==6.0.4"
traitlets = "==5.0.4"
typed-ast = "==1.4.1"
urllib3 = "==1.25.9"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
whitenoise = "==5.1.0"
wrapt = "==1.12.1"
zipp = "==3.1.0"
async_generator = "==1.10"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.2"
Keras-Applications = "==1.0.8"
Keras-Preprocessing = "==1.1.2"
Markdown = "==3.2.2"
MarkupSafe = "==1.1.1"
Pillow = "==8.0.1"
Pygments = "==2.7.1"
Send2Trash = "==1.5.0"
SQLAlchemy = "==1.3.17"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.7"
